import requests
from pydantic import BaseModel
from typing import List, Dict, Any, Optional, Union
from urllib.parse import urljoin
from uuid import UUID
from . import models


class {{app_name}}Client:
    def __init__(self, base_url, credentials, timeout=15):
        self.base_url = base_url
        self.credentials = credentials
        self.session = requests.Session()
        self.session.timeout = timeout
        self.session.headers.update({
            'Authorization': f'{{token_type}} {self.credentials}',
            'Content-Type': 'application/json'
        })

    def _request(self, method, endpoint, object_ctors, json_data=None, **kwargs):
        url = urljoin(self.base_url, endpoint)
        if json_data is not None:
            is_valid_list_payload = isinstance(json_data, list) and json_data
            if type(json_data.__class__) == type(BaseModel):
                json_data = json_data.model_dump()
            elif is_valid_list_payload and type(json_data[0].__class__) == type(BaseModel):
                json_data = [item.model_dump() for item in json_data]
            kwargs['json'] = json_data
        response = self.session.request(method, url, **kwargs)
        object_ctor = object_ctors.get(response.status_code, dict)
        response.raise_for_status()
        if response.status_code == 204:
            return None
        data = response.json()
        if isinstance(data, list):
            return [object_ctor(**item) for item in data]
        return object_ctor(**data)
{% for method in methods %}
    def {{ method.name }}(self{% for param in method.params %}, {{ param }}{% endfor %}{% for param in method.query_params %}, {{param.name}}{% if not param.required %}={{param.default}}{% endif %}{% endfor %}{% for body in method.request_body %}, {{body.title}}: {{body.type}}{% endfor %}){% if 'return_type' in method %} -> {{method.return_type}}{% endif %}:
        """{{ method.description }}"""
        return self._request(
            '{{ method.http_method }}',
            {% if ('query_params' in method and method.query_params|length > 0) or ('params' in method and method.params|length > 0) %}f{% endif %}'{{ method.endpoint }}'{% if method.query_params %},
            params=dict({% for p in method.query_params %}{{p.name}}={{p.name}}{% if not loop.last %}, {% endif %}{% endfor %}){% endif %}{% if 'request_body' in method %},
            json_data={% for e in method.request_body %}{{e.title}}{% endfor %}{% endif %},
            object_ctors={{ method.return_ctor }}
        )
{% endfor %}
